<template>
<div>
    <card class="flex flex-col items-center justify-center">
        <div class="px-3 py-3">
            <h1 class="text-3xl text-80 font-light">Welcome to your Renting profile!</h1>
            <p>Here are some video walkthroughs to get you started:</p>

        </div>

         <iframe width="100%" height="315" src="https://www.youtube.com/embed/videoseries?list=PLs0_v4YfQvULsrUVIFW_jca21yubtSi0l" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



    </card>


</div>

</template>

<script>
export default {
    props: [
        'card',

        // The following props are only available on resource detail cards...
        // 'resource',
        // 'resourceId',
        // 'resourceName',
    ],

    mounted() {
        //
    },
}
</script>
